@import "tailwindcss";

@theme {
  --color-primary: #060606;
  --color-accent: #FF4000;
  --font-jersey: "jersey", "sans-serif"; 
}

body {
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'jersey';
  src: url('/font/Jersey15-Regular.ttf') format('truetype'), url('/font/Jersey15-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


.shadow-inset {
  box-shadow: inset 7px 7px 13px #000000, inset -7px -7px 13px #000000;
}

.shadow-outset {
  box-shadow: 5px 5px 11px #ffffff32, -5px -5px 11px #ffffff32;
}


.bg-grid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(255 255 255 / 0.02)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}


.animate-slideup {
  opacity: 0;
  transform: translateY(100px);
  animation: slideUp 1s ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes spotlightFade {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.1);
    }
}

.animate-spotlight {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    height: 169%;
    width: 138%;
    opacity: 0;
    animation: spotlightFade 1.8s ease-out forwards;
}